<ng-container *ngIf="userTechnologies$ | async as userTechnologies">
  <app-edit-modal-wrapper
    title="Edit skills"
    [isFormValid]="true"
    (cancel)="_dialogRef.close()"
    (save)="onSubmit(userTechnologies)">
    <div>
      <mat-form-field
        class="input-field"
        appearance="outline">
        <mat-label>Skills</mat-label>
        <mat-chip-grid
          #chipGrid
          aria-label="Tech skills selection">
          <mat-chip-row
            *ngFor="let skill of userTechnologies"
            class="chips skills-chips"
            (removed)="onRemove(skill)">
            {{ skill.title }}
            <button
              matChipRemove
              [attr.aria-label]="'remove ' + skill.title">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          #skillsInput
          placeholder="New Skill..."
          class="input"
          [formControl]="techSkillsCtrl"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="onAdd($event)" />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onSelect($event)">
          <mat-option
            *ngFor="let skill of filteredTechSkills$ | async"
            [disabled]="
              (disabledTechnologiesList$ | async)?.includes(skill.title)
            "
            [value]="skill">
            {{ skill.title | titlecase }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </app-edit-modal-wrapper>
</ng-container>
