@import '/src/styles/_variables.scss';
@import '/src/styles/_color-palette.scss';
@import '/src/styles/_media-mixins.scss';

.single-column {
  max-width: 25em;
  display: flex;
  flex-direction: column;
  gap: $s-size;
}

.double-column {
  display: grid;
  column-gap: $m-size;
  row-gap: $xs-size;

  @include media(tablet) {
    grid-template-columns: $xxxxl-size $xxxxl-size;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: $xs-size;
}

.input-field {
  width: 100%;
}
