$base-color: rgba(246, 247, 249, 1);

$base-header-color: rgba(113, 113, 113, 1);

$light-subtitle-color: rgb(138, 137, 137);

$primary-color: rgba(25, 118, 211, 1);
$primary-color-light: rgba(198, 218, 239, 0.292);
$light-caption-color: rgba(138, 137, 137, 0.748);

$green-color: #66bb6a;
$light-accent-color: #81c784;
$dark-accent-color: #43a047;

$base-text-color: rgba(0, 0, 0, 0.87);

$base-bg-color: #fafafa;
$white-bg-color: #ffffff;
