<div
  *ngIf="user$ | async as user"
  class="column-wrapper wrapper">
  <app-user-personal-info></app-user-personal-info>
  <div class="middle">
    <div class="column-wrapper">
      <app-user-education-contacts></app-user-education-contacts>
      <app-user-bank-and-socials-info></app-user-bank-and-socials-info>
    </div>
    <div class="column-wrapper right">
      <app-content-card>
        <div class="upper-wrapper">
          <h3 class="mat-subtitle-2 primary">Description</h3>
          <button
            mat-icon-button
            class="icon-btn"
            aria-label="Edit content button"
            (click)="onEdit()">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            class="icon-btn"
            aria-label="Copy content button"
            (click)="
              clipboardService.copyToClipboard(
                {
                  positionDescription: user.positionDescription
                },
                clipboardRegistry
              )
            ">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
        <p>
          {{ user.positionDescription }}
        </p>
        <app-empty-message
          *ngIf="!user.positionDescription"
          title="description"></app-empty-message>
      </app-content-card>
      <div>
        <app-user-skills></app-user-skills>
      </div>
      <div>
        <app-user-work-info></app-user-work-info>
      </div>
      <div></div>
    </div>
  </div>
  <div class="bottom"></div>
</div>
<div
  *ngIf="loading$ | async"
  class="backdrop">
  <mat-spinner></mat-spinner>
</div>
