<div mat-dialog-content>
  <div class="upper">
    <h3 class="mat-headline-5 title">{{ title }}</h3>
    <button
      mat-icon-button
      type="button"
      aria-label="Close modal"
      (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="wrapper">
    <ng-content></ng-content>
    <div
      mat-dialog-actions
      class="actions">
      <button
        mat-button
        type="button"
        color="primary"
        (click)="onCancel()">
        Cancel
      </button>
      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="!isFormValid"
        (click)="onSave()">
        Save
      </button>
    </div>
  </div>
</div>
